<h1>StudentHome#profile</h1>


<div id="student_profile">


	<div id="student_profile_header">


	</div>

	<div id="student_profile_main">

		<div id="skills">
			<%= link_to 'ADD SKILLS' , url_for(controller: "student_home" , action: "add_skill",id: current_student.id), :id=>"plus_skill"%>
			<div id="add_skill">
				Add skill
			</div>
		</div>

		<div id="work_experiences">
			<%= link_to 'ADD EXPERIENCE' , url_for(controller: "student_home" , action: "add_experience",id: current_student.id), :id=>"plus_experience"%>
		</div>

		<div id="position_of_responsibilty">
			<%= link_to 'ADD POSITIONS OF RESPONSIBILITY' , url_for(controller: "student_home" , action: "add_por", :id=>current_student.id) %>
		</div>

		<div id="research_paper">
		</div>


	</div>

</div>

