<div id="tnp_academics">
<h1> Bachelor in Technology </h1>
The following courses offered for the Bachelor of Technology Degree under IGDTUW:
<ul>
	<li><a target="_blank" href="http://www.igdtuw.ac.in/index.php?option=com_content&view=article&id=3&Itemid=16">Computer Science and Engineering </a>  </li>
	<li><a target="_blank" href="http://www.igdtuw.ac.in/index.php?option=com_content&view=article&id=115&Itemid=17">Electronics and Communication Engineering </a></li>
	<li><a target="_blank" href="http://www.igdtuw.ac.in/index.php?option=com_content&view=article&id=17&Itemid=19"> Information Technology</a> <li>
	<li> <a target="_blank" href="http://www.igdtuw.ac.in/index.php?option=com_content&view=article&id=31&Itemid=18">Mechanical and Automation Engineering <a/></li>
</ul>

</div> 
