<div id="big_wrapper" > 
<div id="slider">
<figure>
<%= image_tag "image1.png" %>
<%= image_tag "image5.jpg" %>
<%= image_tag "image3.png" %>
<%= image_tag "image4.png" %>

</figure>
</div>


<div id="right_content">
	<nav id="sidebar">
<ul>
	<li><a target="_blank" href="http://www.igdtuw.ac.in">Official Website</a></li>  
	<li> Company Recruitment Form </li>
	<li> Training Letter (Third year) /li>
	<li> Training Letter (Second year) </li>
	<li> Past Recruiters </li>
</ul>
</nav> 

</div> 
</div> 