<div id="vcmessage">
	<h1> Message from VC's desk </h1>
	<p> The Indira Gandhi Delhi Technical University for Women (IGDTUW) is the first
technical University for Women, established by Govt. of Delhi in 2013, with
excellent faculty and modern instructional facilities. Its heritage campus located in
the heart of Delhi consists of academic buildings, girls hostels, the auditorium,
Computer Centre, Sports facilities, Library and dispensary. The University offers a
wide variety of Under Graduate and Post Graduate technical programs with student
centric learning environment in various branches of Engineering and Technology. </p>

<p> As a founder Vice-Chancellor of IGDTUW, our goal is to start new educational
programs, promote research culture on campus, encourage creativity and the spirit
of innovation among students and teachers. Our aim is to build strong industry
alliances and partnerships with the objective of providing the best technical
education to the women of our country and inculcate leadership qualities among
them. </p>

<p> In a short span of time we have forged alliances with Industries like Nokia, Fluor
Daniel, Intel, Atmel, ARM, Mahindra and Mahindra to name a few. The University
has also been recognized by UGC under Section 22 to award UG, PG degrees along
with Doctoral programs. </p>

<p> Our M.Tech programs are designed to prepare industry ready engineers in the area
of Mobile Computing, Cyber Security, Robotics and VLSI design.With a view to promote 
socially relevant research in various branches of
Engineering, Sciences and Technology, the doctoral programs of IGDTUW were
launched in 2014. The Ph.D program provides the candidates with research
opportunities in the frontier areas of Science and Technology and develops an
inquisitive and pragmatic approach towards the societal and industrial needs. </p>

<p> New courses in engineering and technology have led to an increase in the demand
for versatile and industry ready engineers. Therefore, we have recently revised our
course curriculum for all B.Tech programs and MCA program, keeping in view the
industrial, societal, environmental and market needs. </p>

<p> This year we have started a five year B. Architecture program after obtaining
approval from Council of Architecture. The program aims to develop creative skills
along with technical competence among students required for various jobs in the
Infrastructure sector of our country. </p>

<p> I welcome all the new students to this campus. Our mission is to empower the
women with value based technical education and enable them to become
entrepreneurs, innovators, thorough professionals, enlightened individuals,
financially independent and good human beings, focussed on maintaining a work-
life balance. </p> 
</div>

