<div id="tnp_objective">
	<p> The Training and Placement Cell facilitates the campus placement program at IGDTUW. The cell comprises of highly energetic and dynamic team of students and faculty members with Dr. A K Mohapatra as Training & 
		Placement Officer. </p>

	<p> The team is consistently striving to enhance the quality and quantity of the placements in the university. Various seminars are being organized on regular basis for the development of the students to improve their communication skills and their personality. </p>

	<p> The University T&P Cell facilitates multiple job offers to the eligible students of IGDTUW year after year. During the recruitment drive around 52 companies visited the campus. To name a few prestigious companies like Microsoft, Adobe, Cisco, SAP Labs, Oracle, Qualcomm, Mahindra & Mahindra, General Motors, Cognizant, Aricent, Tata Consultancy Services, Yamaha Motors, Hindustan Unilever, IBM India visit IGDTUW campus for placements and internships.
	</p> 

</div>
