/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
	margin:0;
	padding: 0;
}
body{
	background-image: url(devisefinal.png);
}
#devise_sign_up{
	display: flex;
	justify-content : center;
	flex-direction: column;
	margin-top: 30px; 
}

#devise_sign_up_wrapper{
	margin: auto;
	background-color: white;
	width: 30% ;

	flex-grow: 1;

}
#devise_sign_up_header{
	margin: auto;
	width: 30%;
	background-color: white ;
	height: 80px;
}
#devise_sign_up_header h2{
	color: #98BD07;	
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 60px; 
	font-weight: bold; 
	letter-spacing: -1px;
	line-height: 1; 
	text-align: center;

}
#devise_sign_up_wrapper .field{
	padding-bottom: 7px; 
}

#devise_sign_up_wrapper .field p{
	font-family: 'Brown'; 
	font-size: 15px; font-weight: bold; 
	letter-spacing: -1px;  
	color: #D46A6A; 
	text-transform: uppercase ; 
	text-align: center ; 
}
#devise_sign_up_wrapper .field span{
	width: 80%;
	box-shadow: 10px 10px 5px #888888;
	

}
