// Place all the styles related to the static_home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url(Futura.ttf);

}

body {
	background-color: #EFF0F1;
}

header {
	position:absolute;
	background: linear-gradient(to right, white, white 50%, #98BD07);
	left: 0;
    top:0;
    height:15%;
    width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	

}

header #head {
	width: 80%;
	//margin-left: 2%;
}

header #head #tnp{
	font: bold 30px 'Open Sans', sans-serif;
}

header div #college{
	font: bold 20px 'Open Sans', sans-serif;
}

header img{
	height: 90px;
	width: 95px;
}

header h3{
	margin-right:2%;
	margin-top:0.2%;
}

header h3 a {
	font: bold 15px 'myFirstFont', sans-serif;
	padding: 8px;
	text-decoration:none;
	color:white;
	letter-spacing:4px;
	text-transform: uppercase;
	font-weight:10000;
	
}

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
	position:fixed;
	top:15%;
	border-top: 3px solid #95A83F;
   font: bold 16px 'opensans-bold', sans-serif;
   width: 100%;
   height:7.5%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   left: 0;
   /*background-color: #00C746;*/
   background-color: #98BD07;
   display: flex;
   justify-content: space-around;
   box-shadow: 10px 5px 5px #666666;
}


ul#nav {

   width: auto;
   text-align: center;
}
ul#nav li {
   /*position: relative;*/
   list-style: none;
   height: 65%;
   display: inline-block;
}

/* Links */
ul#nav li {
   display: inline-block;
   padding: 1.4% 13px;
   line-height: 32px;
   text-align: center;
   color: #fff;
   border-right: 3px solid #95A83F;
   border-image: linear-gradient(#95A83F, #666666) 10;
}

ul#nav li:last-child {
	border-right: none;
}

ul#nav li a {color: white; text-decoration: none;}

ul#nav li:hover { background-color: #3B4A00; }


footer {
   padding-top: 2%;
   background-color: #98BD07;
   font-size: 14px;
   text-align: center;
   display: flex;
   justify-content: space-around;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 12%;
    width: 100%;
}

footer #contact {
   font: 25px/30px 'opensans-bold', sans-serif;
}

footer .info {
   font: 20px/24px 'opensans-bold', sans-serif;
   margin
   margin-bottom: 18px;
   margin-top: 9px;
}

footer .right {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 16px;
}
footer .right li{
   font: 20px/24px 'myFirstFont', serif;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .right li a{
   text-decoration: none;
   color: white;
}

footer .right li:hover {
   //background-color: #666666;
   cursor:pointer;
}
