@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: white;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

/*  *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

#student_wrapper{
  
  height:20%;
  background-color: #009F8A ; 
  display: flex;
  justify-content: space-around ;
  align-items: center;
  width:100%;
  box-shadow: -9px -1px 10px 3px #888888;

}
 
 #profile_nav{
  width: 30%;
  margin-top: 13px;
  margin-right: -18%;
 }
 #profile_nav ul{
  display: flex;
  justify-content: space-between;
  color: white;
 }

#profile_nav ul li{
  list-style: none;
  padding: 15px;
  margin-right: 15px;
  color: white;
  display: inline-block;
  font: bold 18px 'myFirstFont', sans-serif;
}
#profile_nav ul li div{
  width:70px;
}
#profile_nav ul li a:visited{
  color: white;
  text-decoration: none;
}
#profile_nav ul li a:hover{
    list-style-type: none;
    color: white;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;

}

.search {
  width: 30%;
  position: relative;
  vertical-align: center;
  display: flex;
  left:10%;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #BFBBE7;
  padding: 5px;
  height: 50%;
  border-radius: 5px;
  outline: none;
  color: #fff;

}

.searchTerm:focus{
  color: #000;
}

.searchButton {
  position: absolute;  
  left: 90%;
  width: 10%;
  height: 32px;
  border: 1px solid #BFBBE7;
  background: #BFBBE7;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!
#wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.profile_page {
  display: flex;
  flex-wrap: wrap;
}

#side_profile {
  /*position: absolute;*/
  background-color: #fff;
  width: 25%;
  height: 100%;
  float: left;
  margin-top: 10px;
  border-left: 1px solid black; 
}

#side_profile_section{
  /*position: fixed;*/
  height:400px;
  width: 200px;
  background-color: white;
  margin-top: 10%;
  margin-left: 25%;
  border: solid 2px #009F8A;
  text-align: center;
  font: 20px 'opensans-bold', sans-serif;
  /*display: flex;*/
  /*flex-direction: vertical;*/
}
#section_header{
  height: 80px;
  background-color: #009F8A;
}

#section_profile_image{
  position: absolute;
  width:80px;
  background-color: white;
  border-radius: 40px;
  height: 80px;
  margin-left: 60px; 
  /*margin-top: 42px;*/

}

#section_profile_image img{
  position: absolute;
  width:80px;
  border-radius: 40px;
  height: 80px; 
  /* needs to be changed */ 
   margin-left: -52px; 
}


#update-link {
  font: 12px 'opensans-bold', sans-serif;
  vertical-align: bottom;
}

#current_stu_profile {
  
  /*margin-left: 30%;*/
  box-sizing: content-box;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 10%;
  width: 55%;
  height: 100%;
  position: absolute;
  background-color: #FFC14D;
  float: right;
  border:solid 2px #009F8A;
  margin-left: 27%;
}

#current_stu_profile h1 {
  font: 40px/0.5em 'opensans-bold', sans-serif;
  text-align: center;
}

#student_profile_header {
    text-align: center;
    font: 20px 'opensans-bold', sans-serif;
}

#skills, #work_experiences, #positions_of_responsibility {

  background-color: #FFAF1B;
  border: 1px solid black;
  margin: 1%;
  padding: 2%;
}

/* added styling to blogfeed */

#blogfeed{
  width: 80%;
  margin: auto; 
}
#blogfeed hr{
  margin-top: 0px;
  margin-bottom: 1px; 
  color: 'dark gray' ; 
}

#blogfeed_studentname{
  font-weight: bold ; 
  font:'Open Sans', sans-serif;
}
#blogfeed_title{
  font-weight: bold ; 
  font:'Open Sans', sans-serif;
}
